*{
	margin:0;
	padding:0;
}
body
{
	
	font-family:sans-serif;
}
#nav-bar
{	
	float: left;
		color: rgb(248, 203, 203);
}
.nav-link:hover{
    background-color:rgb(159, 220, 247);
}
.navbar
{
	
    padding: 0 !important;
}
.navbar-brand{
    font-size: 1.5rem;
    color: #c3eeee!important;
    
}.navbar-brand{
    font-size: 1.5rem;
    color: #b8eeee!important;
    
}
.navbar-nav li a
{
color:rgb(241, 190, 190) !important;
font-weight:600;
float:right;
text-align:left;
}
.fa-bars
{
	color:rgb(241, 168, 168);
	font-size:30px !important;
}
.navbar-toggler
{
	outline:none !important;
}
/*---banner section--*/
#main
{
text-align: center;
background-image: linear-gradient(rgb(224, 149, 10),rgb(235, 204, 103));
color:rgb(236, 103, 103);
padding-top:5%;	
}
.navbar-brand{
    font-size: 1.5rem;
    color: #a0e9e9!important;
    
}


/*---service section---*/
#features1
{
	text-align: center;
	padding: 10% 15%;
}
 #features
 {
	background-image:url(https://images.financialexpress.com/2019/01/2-178.jpg?w=1200&h=800&imflag=true);
	size: 100px;
	position: relative;
	top: -0.5%;
	background-repeat: no-repeat;
    padding:100% 15%;
	width: 100%;
     text-align: center;
     padding: 10% 15%;
     background-position: center; 

	
 }
 .features1 h3
{
	padding:5px;
	margin-top:25px;
	text-transform:uppercase;
}

.features h3
{
	padding:5px;
	margin-top:25px;
	text-transform:uppercase;
}
.title::before
{
	content:'';
	background-image:radial-gradient(rgb(192, 19, 48),rgb(241, 215, 215));
	height:5px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	transform:translatey(63px);
}
.title::after
{
	content:'';
	background:#b6eee1;
	height:10px;
	width:50px;
	margin-left:auto;
	margin-right:auto;
    margin-bottom:40px;
    display: block;
	transform:translatey(8px);
}
#features .btn-primary
{
	box-shadow:none;
	padding:10px 25px;
	border:none;
	align-content: center;
	background-image:linear-gradient(to right,#7ae7f8,#fcb2fa)
	
}
/* Action*/
  #action{
    background-color:rgb(201, 71, 11);
    padding: 2.5% 2%;
    text-align:center;
    line-height: 1.5;
    color: rgb(67, 13, 103);	
		  }
  
   
  .main{
    font-size: 3rem;
    line-height: 1.5;
    padding: 10px 0px;
  }
.fa {
  padding: 10px;
  font-size: 20px;
  width: 10%;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  text-align: center;
  text-decoration:rgb(56, 57, 54);
  border-radius: 20%;
 
}
.fa-github{
	color: black;
}
.fa-linkedIn{
	color: blue;
}
#footer{
	background-image: linear-gradient(rgb(140, 125, 77),rgb(106, 74, 13));
    color:#fff;
    padding: 1% 1%;
    text-align:center;
	height: 21%;
	
     }